<form asp-action="Index">
<label >Nhap don gia </label>
<input type="text" name="A" />
<label>Nhap so luong</label>
<input type="text" name="B" />
<input type="submit" value="Tinh" />
</form>
<h1>@ViewBag.Z</h1>