<h1>Tinh diem</h1>
<form asp-action="Index">
    <label >Nhap diem A: </label>
    <input type="text" name="A" />
    <label >Nhap diem B: </label>
    <input type="text" name="B" />
    <label >Nhap diem C: </label>
    <input type="text" name="C" />
    <input type="submit" value="Xac nhan" />
 
</form>

    <h2>Diem: @ViewBag.Diem</h2>